@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --textColor: rgb(2, 6, 23);
      --bgColor: rgb(255, 255, 255);
   }

   .theme-dark {
      --textColor: rgb(206, 207, 212);
      --bgColor: rgb(2, 6, 23);
   }

   .svg-icon {
      width: 50px;
      /* Adjusted width */
      height: 50px;
      /* Adjusted height */
   }
}

@layer components {
   .bounce-left {
      animation: bounce-left .9s linear both
   }


   @keyframes bounce-left {
      0% {
         transform: translateX(-48px);
         animation-timing-function: ease-in;
         opacity: 1
      }

      24% {
         opacity: 1
      }

      40% {
         transform: translateX(-26px);
         animation-timing-function: ease-in
      }

      65% {
         transform: translateX(-13px);
         animation-timing-function: ease-in
      }

      82% {
         transform: translateX(-6.5px);
         animation-timing-function: ease-in
      }

      93% {
         transform: translateX(-4px);
         animation-timing-function: ease-in
      }

      25%,
      55%,
      75%,
      87%,
      98% {
         transform: translateX(0);
         animation-timing-function: ease-out
      }

      100% {
         transform: translateX(0);
         animation-timing-function: ease-out;
         opacity: 1
      }
   }

   .shake-left-right {
      animation: shake-left-right 0.8s linear both
   }

   @keyframes shake-left-right {

      0%,
      100% {
         transform: rotate(0deg);
         transform-origin: 50% 50%
      }

      10% {
         transform: rotate(8deg)
      }

      20%,
      40%,
      60% {
         transform: rotate(-10deg)
      }

      30%,
      50%,
      70% {
         transform: rotate(10deg)
      }

      80% {
         transform: rotate(-8deg)
      }

      90% {
         transform: rotate(8deg)
      }
   }

   .vibrate {
      animation: vibrate 0.4s linear both
   }

   @keyframes vibrate {
      0% {
         transform: translate(0)
      }

      20% {
         transform: translate(-2px, 2px)
      }

      40% {
         transform: translate(-2px, -2px)
      }

      60% {
         transform: translate(2px, 2px)
      }

      80% {
         transform: translate(2px, -2px)
      }

      100% {
         transform: translate(0)
      }
   }
}
